<md-content layout="column" layout-fill ng-controller="ChatController">
	<md-content flex="80">
		<md-list>
			<md-list-item ng-repeat="msg in messages">
				<md-content layout-fill layout-padding class="md-list-item-text md-whiteframe-4dp">
					<h3>{{msg.username}}</h3>
					<p>{{msg.message}}</p>
				</md-content>
			</md-list-item>
		</md-list>
	</md-content>

	<md-content flex>
		<md-input-container class="md-block">
			<label>Text message</label>
			<textarea ng-model="message" columns="1" ng-keyup="send($event)"></textarea>
		</md-input-container>
	</md-content>
</md-content>